
<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item">	<a href="index.html" class="nav-logo"><img src="https://s3-us-west-2.amazonaws.com/tokken/GREY_LOGO_TYPE.png"></a></li>
<!--		<li class="desk-nav-item"><a href="#">Contact</a></li>-->
		<li class="desk-nav-item"><a href="learn-more.html">Learn More</a></li>
	</ul>

</div>

<img class="mobile-header-logo" src="https://s3-us-west-2.amazonaws.com/tokken/2_COLOR_FULL-MARK_SOLID.png">


<ul class="navigation">
	<li class="nav-item"><a href="#">Learn More</a></li>
<!--	<li class="nav-item"><a href="#">About</a></li>-->
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
