 

<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item">	<a href="" class="nav-logo"><img src="https://s3-us-west-2.amazonaws.com/tokken/tokken-logo-3.png"></a></li>
<!--		<li class="desk-nav-item"><a href="#">Contact</a></li>-->
		<li class="desk-nav-item"><a href="#">Learn More</a></li>
<!--
		<li class="desk-nav-item"><a href="#">About</a></li>
	</ul>
-->
<!--
	<div class="right-nav">
		<img class="token" src="https://s3-us-west-2.amazonaws.com/tokken/tokken-img.png">
		<div class="token-num">56</div>
	</div>
-->
</div>



<ul class="navigation">
<!--	<li class="nav-item"><a href="#">Contact</a></li>-->
	<li class="nav-item"><a href="#">Learn More</a></li>
<!--	<li class="nav-item"><a href="#">About</a></li>-->
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
