
<div class="desktop-nav-container">
	<ul class="desktop-nav">

<!--		<li class="desk-nav-item"><a href="#">Contact</a></li>-->
    	<li class="desk-nav-item"><a href="contact.html">Contact</a></li>
		<li class="desk-nav-item"><a href="learn-more.html">Learn More</a></li>
		<li class="desk-nav-item"><a href="contact.html">Sign Up</a></li>
		<li class="desk-nav-item"><a href="index.html" class="nav-logo"><img class="header-logo" src="https://s3-us-west-2.amazonaws.com/tokken/WHITE_LOGO_TYPE-01.png"></a></li>
		<img class="tokken-fold-logo" src='https://s3-us-west-2.amazonaws.com/tokken/Tokken_Logo_trc.png'>
	</ul>
</div>

<img class="mobile-header-logo" src="https://s3-us-west-2.amazonaws.com/tokken/2_COLOR_FULL-MARK_SOLID.png">


<ul class="navigation">
	<li class="nav-item"><a class="mobile-link" href="index.html"><span class="icon">o</span>Home</a></li>
	<li class="nav-item"><a class="mobile-link" href="learn-more.html"><span class="icon">n</span>Learn More</a></li>
	<li class="nav-item"><a class="mobile-link" href="contact.html"><span class="icon">l</span>Contact</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
