.contact-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}




.contact-form {
  margin: auto;
  width: 100%;
  min-height: 77vh;
  text-align: center;
  position: relative;
  /*margin-top: 90px;*/
  // border: $main-color 1px solid;
  // border-radius: .3em;
  padding: 3em;
  color: white;
  background-color: rgb(43, 43, 43);
  h1 {
    font-family: 'Raleway';
    font-weight: 400;
    text-transform: uppercase;

  }

  input {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    width: 35em;
    margin: 0 auto 1.35em;
    border: none;
    border-radius: .3em;
    padding: 1em .45em;
    border: 1px solid $main-color;
    background-color: rgba(41, 191, 151, .1);
  }

  input[type="submit"]{
    background-color: $tertiary-color;
    outline: 0;
    width: 13em;
    color: white;
    text-transform: uppercase;
  }


  textarea{
   display: block;
   height: 10em;
   font-size: 1em;
   margin-bottom: 1em;
   width: 35em;
   margin: 0 auto 1.35em;
   border: none;
   border-radius: .3em;
   padding: 1em .45em;
   border: 1px solid $main-color;
   background-color: rgba(41, 191, 151, .1);

 }

 textarea:focus, input:focus {
   outline: 0;
   color: white;

 }

//  input:focus input placeholder {
//     opacity: 0;
// }

   h1 {

     font-size: 3.6em;
     padding-top: 2em;
   }
   p {
     font-size: 1.1em;
     margin-bottom: .3em;
   }
   .contact-info {
     margin-top: 3em;
     font-size: 1.4em;
     /*text-transform: uppercase;*/
   }

   value {
     color: white;
   }

}

.contact-submit-button {
 background-color: $tertiary-color;
 border: none;
 color: white;
 width: 17em;
 padding: .7em 1.5em;
 font-size: 1.1em;
 border-radius:.3em;
 font-family: 'Raleway', sans-serif;
 transition: 1s ease background-color;
 margin-bottom: 2em;
}
.contact-submit-button:hover {
  background-color: $main-color;
}

.contact-social-container {
  position: absolute;
  top: 75px;
  right: 15px;
}

.contact-links {
  color: $main-color;
  text-transform: uppercase;
}

.contact-social-link {
  font-size: 2em;
  text-transform: lowercase;
}

@media screen and (min-width: 641px) {
  .mc-form-contact-wrapper {
    padding-top: 1em;


    .mc-field-group {
      margin-right: -6px;

    }



    #mc_embed_signup .mc-field-group input {
      padding: 14px 7px 13px;
      border-right: none !important;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-sizing: border-box;
    }
    .sign-up-form-1 #mc-embedded-subscribe {
      border-left-top-radius: 0 !important;
      border-left-bottom-radius: 0 !important;
      border-top-right-radius: .3em;;
      border-bottom-right-radius: .3em;
      border: 1px solid $main-color !important;
      box-sizing: border-box;
      border-left: none !important;
      /*padding: 1px;*/
    }


  }

}
@media screen and (max-width: 637px) {
  input, textarea {
    max-width: 18em;
  }

  .contact-form h1 {
    padding-top: 1em;
  }

  .contact-social-container {
    right: 30px;
  }

  .mc-form-contact-wrapper {
    padding-top: 1em;


    .mc-field-group {
      /*margin-right: -6px;*/
      margin-bottom: 0;
      padding-bottom: 0;

    }
  }
}

@media screen and (max-width: 637px) {
  .contact-social-container {
    top: 30px;
    right: 50px;
  }
}
