
$font-video:'Press Start 2P', cursive;
$font-two:'Ubuntu', sans-serif;
$token-yellow: #FED860;
$font-main: 'Ubuntu', sans-serif;
$main-color: #00E79B;
$secondary-color: #0F9A6D;
$tertiary-color: #29BF97;
$teritary-transparent: rgba(170,43,105, .4);
$main-transparent: rgba(0,231,155, .3);
$black: #5B5B5B;

body {
    font-family: 'Raleway';
    line-height: 1.4;
    background: #FFF;
    color: #5B5B5B;
    /*color: #0F9A6D;*/
}

h1 { font-size: 2em; margin: 0; font-family: 'Raleway';  }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #00AAEE;
  text-decoration: none;
	font-family: $font-main;
}



.white {
	color: white;
}

.tokken-button {
	padding: .5em 1em;
	font-size: .8em;
	color: white;
	display: inline-block;
	margin-top:.9em;
	transition: background-color 1s ease;
	background-color: $main-color;
  /*background-image: url('https://s3-us-west-2.amazonaws.com/tokken/pattern-block.png');*/
  background-repeat: repeat;
  background-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.tokken-button:hover {
	background-color: $secondary-color;
}


.secondary-color {
  background-color: $secondary-color;
}
