.form-wrapper {
  padding: 8em 0 4em;
}

.signup-title {
  color: white;
}
.signup-form {
  max-width: 25em;
  margin: 0 auto;
  border: $main-color 1px solid;
  border-radius: .3em;
  padding: 3em;
  background-color: rgba(20,20,20,.2);

   input {
     display: block;
     font-size: 1em;
     margin-bottom: 1em;
     width: 18em;
     margin: 0 auto 1.35em;
     border: none;
     border-radius: .3em;
     padding: 1em .45em;
     border: 1px solid $main-color;
     background-color: transparent;
   }

   input[type="submit"]{
     background-color: $tertiary-color;
     outline: 0;
     width: 13em;
     color: white;
     text-transform: uppercase;
   }

   textarea:focus, input:focus{
    outline: 0;
}

}
