.info-container {
  padding-top: 60px;
}

.info-section {
  /*min-height: 75vh;*/
  /*display: flex;
  /*flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6em;*/
    overflow: hidden;
}

.info-content-wrapper {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 0;
  p {font-size:1.1rem;}
  h1 {font-size: 2.1rem;}
}

.info-left-side {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

.info-right-side {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;

    .info-image-wrapper {
        /*max-height: 75%;*/
        overflow: hidden;
    }

    img {
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
        bottom: 0;

        /*max-height: 500px;
        max-width: 500px;*/
    }

    .img-phone {
      right: -220px;
      height: 90%;
      width: 80%;
      top: 120px;
    }


    .img-works {
        right: -115px;
        bottom: -20px;
        height: 110%;
        width: 110%;

    }
    .img-funding {
        bottom: -50px;
        right: -135px;
    }
    .img-wtdwt {
        bottom: -40px;
        right: -115px;
    }
    .img-comp {
        bottom: -140px;
        right: -145px;
    }
    .img-tech  {
        bottom: -25px;
        right: -135px;
    }
    .img-risk  {
        bottom: -65px;
        right: -135px;
    }
}

.section-wtdwt {
    max-height: 65vh;
    .cw-wtdwt {
        position:relative;
        top: -50px;
    }
}

.section-comp {
    max-height: 65vh;
    .cw-comp {
        position:relative;
        top: -100px;
    }
}



.phone-wrapper

.light-weight {
  font-weight:300;
}

.copy-info {
  font-size: .7em;
  font-weight:300;
}


.grey {
  background-color: #565656
}

.main-color-font {
  color: $main-color;
}

.main-color-bg {
  background-color: $main-color;
}

.secondary-color-bg {
  background-color:$secondary-color;
}

.light-grey-bg {
  background-color: #D0D4D4;
}

.strange-green-bg {
  background-color:#34BE99;
}

.strange-green-bg-2 {
  background-color:#27E69E;
}





.info-ul {
  color: white;
}

// images
