.info-container {
  padding-top: 60px;
  font-family: 'galano_grotesque_light';
  background-color: #565656;
}

.info-section {
    overflow: hidden;
    .copy-info {
        display: inline-block;
        /*vertical-align: middle;*/
        vertical-align: super;
        font-size: .9em;
        display: inline-block;
        font-weight:300;
    }

    ul {
        padding-bottom: 1em;
    }


}


.t-chop {
    overflow: hidden;
    display:inline-block;
    vertical-align: middle;
    font-family: 'galano_grotesque_alt_demobold';
    span {
        margin-left: -03px;
        letter-spacing: 2px;
    }
}

.info-content-wrapper {
  position: relative;
  margin: 0 auto;
  font-size: 0;
  max-width: 1200px;
  p {font-size:1.2rem;
      margin-top: 1em;
  }
  h1 {font-size: 2.1rem;
      line-height: 1.1em;
  }
  ul {font-size: 1.1rem;}
}

.info-left-side {
    h1,p, ul {margin-left:3rem}
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

.info-right-side {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;

    .info-image-wrapper {
        /*max-height: 75%;*/
        overflow: hidden;
    }

    img {
        height: 80%;
        width: 80%;
        display: block;
        position: relative;
        bottom: 0;
        float: right;
        min-width: 265px;

        /*max-height: 500px;
        max-width: 500px;*/
    }

    .img-phone {
        top: 15px;
        right: 40px;
    }


    .img-works {


    }
    .img-funding {

    }

    .img-money{

    }

    .img-wtdwt {

    }

    .img-comp {

    }
    .img-tech  {

    }
    .img-risk  {

    }
}

/*.section-wtdwt {
    h1 {margin-top: -2.5em}
    max-height: 65vh;
    .cw-wtdwt {
        position:relative;
        top: -50px;
    }
}*/

/*.section-comp {
    h1 {margin-top: -4em}
    max-height: 65vh;
    .cw-comp {
        position:relative;
        top: -70px;
    }
}*/

.light-weight {
  font-weight:300;
}


.grey {
  background-color: #565656
}

.main-color-font {
  color: $main-color;
}

.main-color-bg {
  background-color: $main-color;
}

.secondary-color-bg {
  background-color:$secondary-color;
}

.light-grey-bg {
  background-color: #D0D4D4;
}

.strange-green-bg {
  background-color:#34BE99;
}

.strange-green-bg-2 {
  background-color:#27E69E;
}


.info-ul {
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 969px) {
    .info-left-side {
        width: 55%;
        h1,p, ul {margin-left:1rem}
    }
    .info-right-side {
        width: 45%;
        .img-phone {

        }
    }

}

@media screen and (max-width: 767px) {
    .section-header {
    text-align:center;
}


}

@media screen and (max-width: 540px) {

    .info-section {
        padding: 3em 0;
        /*img {display:none !important}*/
    }
    .info-left-side, .info-right-side {
        width: 100%;

    }

    .info-right-side {
        img {float: none;
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 1350px) {

}
