.info-container {
  padding-top: 60px;
}

.info-section {
  min-height: 75vh;
  /*display: flex;
  /*flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6em;*/
  overflow: hidden;
}

.info-content-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.light-weight {
  font-weight:300;
}

.copy-info {
  font-size: .7em;
  font-weight:300;
}


.grey {
  background-color: #565656
}

.main-color-font {
  color: $main-color;
}

.main-color-bg {
  background-color: $main-color;
}

.secondary-color-bg {
  background-color:$secondary-color;
}

.light-grey-bg {
  background-color: #D0D4D4;
}

.strange-green-bg {
  background-color:#34BE99;
}

.strange-green-bg-2 {
  background-color:#27E69E;
}


.info-left-side {
  max-width: 650px;
  position: absolute;
  top: 120px;
  left: 95px;
  font-size: 1.2em;
  h1 {

  }
}

.i-f-l-alt {
  max-width: 450px;
}

.info-right-side {
  position: absolute;
  right: -20px;
  top: 90px;
}

.i-f-s-alt {
  top: 55px;
  right: -50px;
}

.i-f-s-3 {
  top: -5px;
  right: -20px;
}

.i-f-s-4 {
  top: 0px;
  right:0px;
}

.i-f-s-5 {
  top: 30px;
  right:-30px;
}

.i-f-s-6 {
  top: 50px;
  right:-35px;
}

.i-f-s-7 {
  top: 50px;
  right:0px;
}

.info-ul {
  color: white;
}

// images

.info-phone {
  width: 430px;
}

.info-works {
  width: 710px;
}

.info-funding {
  width: 650px;
}

.info-where {
  width: 750px;
}

.info-what-to-do {
  width: 1100px;
}

.info-comp {
  width: 650px;
}

.info-tech {
  width: 600px;
}

.info-risk {
  width: 550px;
}
