


///// site  starts hero-image-container

.hero-content-container {
	position:relative;
	top: 0;
	left:50%;
	z-index: 100;
	transform: translate(-50%);
	text-align: center;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	h1 {
	margin-bottom: .25em;
	color: white;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.7em;
  text-transform:uppercase;
//	height: 100%;

	}
}

.section-1, .section-2, .section-3,  .section-4, .section-5, .section-steps {
	min-height: 80vh;
	font-size: 1.5em;
	color: white;
	padding: 0 2em;
	max-width: 100vw;
	margin: 0 auto;
  text-align:center;
  display: flex;
  flex-direction:column;
  justify-content:center;
}

.hero-logo {
  width: 200px;
  margin: 0 auto;

}


.phone-wrapper, .hero-copy {
  padding: 3em;
}


.hero-copy {
  padding-top: 5em;
}

.header-2 {
  display: block;
  font-size: .5em;
  text-transform: none;
  /*font-family:'Amatic SC', Helvetica, Sans-serif;*/
  margin-top: -05px;
	font-weight: 300;
}

.section-1 {
  background-color: white;
  padding-top: 4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
}
.section-1 h1 {
  color: $black;
  padding-top: .5em;
}

.step-number-wrapper-cell {
  display: table-cell;

}

.step-number-wrapper {
	position: relative;
  background-color: $main-color;
  /*padding: .5em;*/
  margin-right: 1em;
  color: $black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  /*padding-top: .4em;*/
  border-radius: .2em;
  margin-right: 1em;
  /*float: left;*/
}

.step-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.step-description {
  display: table-cell;
  padding-left: 1em;
  font-size: .8em;
  color: $black;
  vertical-align: middle;
  /*clear: right;*/

}




.section-4 {
	font-size: .9em;
	position: relative;
	/*padding-top: 2em;*/

}

.section-5,  .section-steps{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /*min-height: 100vh;*/
  padding-top: 5em;
  color: white;
  position: relative;
}

.section-5 {
  background:url('https://s3-us-west-2.amazonaws.com/tokken/Top+Panel+BKG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
  /*width: 100%*/
}

.section-steps {
  background-color: white;
	background-size: cover;
  color: $black;
  padding-top: 3em;
}



.double-phone, .benefits-list, .steps-list, .steps-phone {
  display:inline-block;
  align-items: baseline;
  padding: 3em 4em;
}

.double-phone {}

.steps-phone {
  padding-top: 4em;
}

.benefits-list, .steps-list {
  color: white;
  text-align: left;
  padding-top: 6em;
  max-width: 420px;
  font-size: .9em;
}

.steps-list {
  padding-top: 7em;
}

.benefits-list {
  padding-top: 7em;
	/*font-size: 1em;*/
	font-weight: 700;
	padding-bottom: 35px;
	li {
		position: relative;
	}
}

.space-right {
	position: absolute;
	top: -15px;
	left: -45px;
	/*display: inline-block;*/
	font-size: 1.3em;
	margin-right: .5em;
	margin-top: .3em;
	font-weight: 300;
}

.download-button {
	background-color: grey;
	border-radius: .3em;
	width: 160px;
	height: 60px;
	display: inline-block;
	position: relative;
	color: white;
	margin-right: 1em;
	margin-bottom: .5em;
}

.download-icon {
	position: absolute;
	top: 16px;
	left: 9px;
	font-size: .8em;
}

.download-text {
	margin-top: .5em;
	margin-left: 1.1em;
	font-size: .7em;
}

.steps-list li {
  margin-bottom: .5em;
}


.form-content-wrap {
	/*margin-top: 18em;*/
}

.sign-up-form-1 {
	margin: 0 auto;
	max-width: 90em;
	text-align: center !important;
	input {
		padding: .7em .5em;
		border: none;
		display: inline-block;
		font-size: 1.1em;
		background-color: rgba(24,140,146,.2);
		margin: 0 .5em .5em 0;
		border-radius:.1em;
		width: 13em;
		border: $secondary-color 1px solid;
		font-family: 'Raleway', sans-serif;
    color: white;
//		outline: #AA2B69;
	}

	///// newsletter form

	/*.mce_inline_error {
		position: absolute;
	}*/

	.mc-field-gropu label {
    text-align: left !important;
}
	#mc-embedded-subscribe {
		display: inline-block;
	}

	#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 0;
}

	.mc-field-group {
		input {
			border-color: $main-color !important;
		}
		width: 16em !important;
		display:inline-block !important;
		clear: auto;
		margin: .75em;
	}

		textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, button:focus {
    border-color: $main-color;
    /*box-shadow: 0 1px 1px rgba(170, 43, 105, 0.075) inset, 0 0 8px rgba(170, 43, 105, 0.6);*/
    outline: 0 none;
		}
	button, .submit {
	 background-color: $tertiary-color;
	 border: none !important;
	 color: white;
	padding: .7em 1.5em;
	font-size: 1.1em;
	border-radius:.1em;
	font-family: 'Raleway', sans-serif;
	transition: 1s ease background-color;
	}
	button:hover {
	background-color:$main-color;
	}
}

#mc_embed_signup div.mce_inline_error {
	background-color: transparent !important;
	position: absolute;
}


.hidden-button {
  display: none;
}


.submit {
	margin: 0 auto !important;
	width: 15em !important;
}


//// smoke video shit
.section-4 {
  min-height: auto;
  padding: 5em 0 7em;
	background: #222;
}


#big-video {
    position: relative;
    background:white;
    overflow: hidden;
    /*min-height:50vh;*/
}

#big-video .video {

}

#big-video video {
    position: absolute;
    width: 140%;
    height: auto;
    top: 0;
    left: 0;
}

#big-video .video-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}


@media screen and (max-width: 1066px) {
  .steps-phone {
    order: 2;
  }
  .steps-list {
    padding-top:4em;
  }


}

@media screen and (max-width: 1028px) {
  .benefits-list {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 969px) {
  .phone-wrapper {
    order: 2;
  }

  .hidden-button {
    display: block;
    width: 9em;
    margin: 2em auto;

  }

  .disapper-mobile {
    display:none;
  }

  .phone-wrapper {
    padding-top: 0em;
  }
  .hero-copy {
    padding-bottom: 0em;
    padding-top: 1em;
  }
}

@media screen and (max-width: 937px) {
  .benefits-list {
    padding:2em 0 1em;
  }
}

@media screen and (max-width: 894px) {
  .steps-list {
    padding-top: 6em;
  }
}

@media screen and (max-width: 887px) {
	.hero-container {
		h1, p {
				text-align: center;
		}

		.hero-image-container {
			margin-right: 0;
		}

	}
}

@media screen and (max-width: 604px) {
  #big-video video {
    width: 320%;
  }

  .section-1 {
    padding-top: 2em;
  }

  .section-header {
    top: .5em;
  }


	.section-4 {
		background: #222;
	}

	.benefits-list {
		margin-left: 1em;
	}
}

@media screen and (max-width: 500px) {
  .steps-list {
    padding: 8em 0 0;
  }
}
