.content-wrapper {
  padding-top: 4em;
  /*max-width: 95%;*/
  margin: 0 auto;
}

.question {
  display: flex;
  flex-direction: column;
  /*min-height: 48vh;*/
  justify-content: center;
  padding: 4em 4em;
}
.ques-1 {
  background-color: $black;
  color: white;
}

.ques-2 {
  background-color: $main-color;
}

.ques-3 {
  background-color: $secondary-color;
  /*background-color: darkblue;*/
  color: white;
}

.ques-4 {
  background-color: white;
}

.leading-h1 {
  font-size: 2.2em;
  /*background-color: $black;
  color: white;*/
  /*text-align: center;*/
  font-weight: 400;
  text-transform: uppercase;
}

.section-6 {
  min-height: 60vh;
  text-align: center;
  display: flex;
  justify-content:center;
  flex-direction: column;
  background-color: black;
    h2 {
      color: white;
    }

}

.answer {
  font-size: 1.2em;
  max-width: 40em;
  font-weight: 300;
}


////button found in defaults

@media screen and (max-width: 750px) {
  .content-wrapper {
    padding-top: 2em;
    background-color: #5B5B5B;
  }
}

@media screen and (max-width: 450px) {
  .section-6 input {
    display: block;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;

  }

}
