

.desktop-nav-container {
  position: absolute;
	min-height: 70px;
	top: 0;
	left: 0;
	right: 0;
}


.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*min-height: 60px;*/
  position: fixed;
  z-index: 1000;
  background-color: #5B5B5B;
  width: 100%;
  transition: 1s;
  padding-bottom: .9em;
}

.tokken-fold-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width:80px;
}


.desk-nav-item {
		margin-top: 20px;
//	  padding-left: 6em;
	a{
  	font-family: 'galano_grotesque_light';
		color: white;
		font-size: 1.2em;
		margin-right: 3rem;
		font-weight: 400;
		transition: color 1s ease;
        text-transform: uppercase;
	}

	a:hover {
		color: $main-color;
	}
}

.desk-nav-item:first-child {
	margin-left: 3em;
}

.desk-nav-item:last-child a {
  font-weight: 800;
  margin-right: 100px;
}

.nav-logo {
	display: inline-block;
	img {
		margin-top: -9px;
		height: auto;
		width: 170px;
        position: absolute;
        right: 100px;
        top: 23px;
        z-index: 10000;
	}
}

.right-nav {
	position: absolute;
	right: 5%;
	top: 15px;
}

.token {
	height: 50px;
	display: inline-block;
	margin-right: 1em;
	margin-top: 20px;
//	vertical-align:;
}

.token-num {
	display: inline-block;
	font-size: 1.4em;
	color: $token-yellow;
	vertical-align:super;
	font-family: $font-video;
}
/* Mobile Navigation Menu - Background */


.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: $main-color;

  /* non-critical appearance styles */
  list-style: none;
  background: #5B5B5B;
  display: none;
}

.mobile-header-logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10000000;
  width: 60px;
  height: auto;
  display: none;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #5B5B5B;
  border-bottom: 1px solid #5B5B5B;
  background-color: $secondary-color;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s, background 0.5s;
  font-weight: 400;
  font-family: 'Raleway';
  letter-spacing: 1px;
   span {
     text-transform: lowercase;
     margin-right: .4em;
   }
}

.nav-item a:hover {
  background-color: $main-color;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding:  0;

}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 25px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  display: none;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked + .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.slide-left {
	left: 200px;

}



/* Footer STUFF */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
	z-index:100000;
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  color: white;


  .links a {
    text-transform: uppercase;
    color: white;

  }
  .links {
    display: flex;
  }

  .links li {
    margin: 0 .5em;
  }

}


.footer-social-links{


  li {
    display:inline;
  }

  li a {
    color: white;
    font-size: 1.4em;
  }

}

.footer-section-2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.copyright {
	position: absolute;
	color: white;
	bottom: 0;
	left: 50%;
	transform:translateX(-50%);
	font-size: .8em;
	font-family: Times, serif;
	z-index: 10000;
}

.footer-copy {
    font-family: winston-wolfe;
    font-size: .7em;
    vertical-align: super;
}


body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

@media screen and (max-width: 750px) {
  label[for="nav-trigger"], .navigation{
    display: block;
  }

  .desktop-nav-container {
    display: none;

  }

  .footer-section-2 {
    bottom: 0;
    font-size: .8em;
  }

  .mobile-header-logo {
    /*display: block;*/
  }
}
